/* 전체 레이아웃 */
.container {
  display: grid;
  grid-template-columns: 310px 1fr;
  grid-template-rows: 80px 1fr 112px;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";

  height: 100vh;
}

/* 사이드바 */
.sidebar {
  grid-area: sidebar;
  background: #ff4d4d;
  padding: 24px;
}

/* 헤더 */
.header {
  grid-area: header;
  background: #4d79ff;
  padding: 20px;
}

/* 메인 */
.main {
  grid-area: main;
  background: #26a65b;
  padding: 30px;
}

/* 푸터 */
.player {
  grid-area: footer;
  background: #9b59b6;
  padding: 20px;
}
